@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t877e3');
  src:  url('../fonts/icomoon.eot?t877e3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t877e3') format('truetype'),
    url('../fonts/icomoon.woff?t877e3') format('woff'),
    url('../fonts/icomoon.svg?t877e3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-right:before {
  content: "\e900";
}
.icon-caret-left:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-printer:before {
  content: "\e954";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-checkmark:before {
  content: "\ea10";
}
